@font-face {
	font-family: 'Permanent Marker';
	src: url(./fonts/PermanentMarker.ttf) format('truetype'),
		url(./fonts/PermanentMarker.woff) format('woff');
}

@font-face {
	font-family: 'Inter';
	src: url(./fonts/Inter.ttf) format('truetype');
}

body,
h1,
h2,
h3,
h4,
p,
a {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

* {
	box-sizing: border-box;
}

.page {
	font-family: 'Inter', sans-serif;
	background: #eeeeee;
}

.header {
	height: 100vh;
	text-align: center;
}

/* adicione as regras CSS para o título da pagina */

.name {
	font-family: 'Permanent Marker', cursive;
	font-size: 140px;
	line-height: 140px;
	color: white;
	text-transform: uppercase;
	max-width: 1240px;
	margin: auto;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	background-image: url(./images/capa.jpg);
	background-size: cover;
	background-position: center;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* adicione aqui as regras restantes */
	max-width: 790px;
	margin: 100px auto 50px;
}

/* adicionar regras CSS para cartões/cards e seu conteúdo aqui */
.card {
	width: 350px;
	margin-bottom: 60px;
	padding: 45px 45px 70px;
}

.card_image {
	width: 100%;
}

.footer {
	display: flex;
	/* adicione aqui as regras restantes */
}

/* adicionar uma regra CSS para a assinatura do rodapé */
